.profile-container {
  display: flex;
  align-items: center;
  max-width: 600px;
  padding: 20px 5px 20px 10px;
  /* background-color: #fff; */
  margin: 20px auto 0;
}

.profile-img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-details {
  font-size: 16px;
}

.profile-details p {
  margin: 5px 0;
}

.profile-details strong {
  font-weight: bold;
}
